Source: kdesdk
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Fathi Boudra <fabo@debian.org>, Sune Vuorela <debian@pusling.com>, Armin Berres <trigger+debian@space-based.de>, Matthew Rosewarne <mrosewarne@inoutbox.com>
Build-Depends: cdbs (>= 0.4.51), debhelper (>= 6), cmake (>= 2.4.5), quilt,
 kdepimlibs5-dev (>= 4:4.0.74), libphonon-dev (>= 4:4.0.74), libplasma-dev (>= 4:4.0.74),
 libsvn-dev, libstreamanalyzer-dev, libxslt1-dev, libboost-dev, binutils-dev
Standards-Version: 3.7.3
Homepage: http://www.kde.org
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/branches/kde4/packages/kdesdk
Vcs-Svn: svn://svn.debian.org/pkg-kde/branches/kde4/packages/kdesdk

Package: kdesdk
Architecture: all
Section: kde
Depends: cervisia (>= ${source:Version}), kapptemplate (>= ${source:Version}),
 kate (>= ${source:Version}), kbugbuster (>= ${source:Version}),
 kcachegrind (>= ${source:Version}), kdesdk-kio-plugins (>= ${source:Version}),
 kdesdk-misc (>= ${source:Version}), kdesdk-scripts (>= ${source:Version}),
 kdesdk-strigi-plugins (>= ${source:Version}), kompare (>= ${source:Version}),
 kuiviewer (>= ${source:Version}), lokalize (>= ${source:Version}),
 poxml (>= ${source:Version}), umbrello (>= ${source:Version})
Suggests: kcachegrind-converters (>= ${source:Version})
Description: Software Development Kit from the official KDE 4 release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This metapackage includes software development applications provided with the
 official release of KDE 4.

Package: cervisia
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: CVS client for KDE 4
 Cervisia is a front-end for the CVS version control system client.
 .
 In addition to basic and advanced CVS operations, it provides a convenient
 graphical interface for viewing, editing, and manipulating files in a CVS
 repository or working directory.  It includes tools designed to ease the use
 of CVS, such as a log browser, conflict resolver, and changelog editor that
 checks for incorrect formatting.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kapptemplate
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: kdelibs5-dev (>= 4:4.0.74)
Description: KDE 4 application template generator
 KAppTemplate is a shell script that will create the necessary framework to
 develop several types of KDE application.  It generates the build-system
 configuration and provides example code for a simple application.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kate
Section: editors
Architecture: any
Depends: ${shlibs:Depends}
Suggests: aspell | ispell | hspell, khelpcenter, konsole
Description: KDE 4 Advanced Text Editor
 Kate is a powerful text editor that can open multiple files simultaneously.
 .
 With a built-in terminal, syntax highlighting, and tabbed sidebar, it performs
 as a lightweight but capable development environment.  Kate's many tools,
 plugins, and scripts make it highly customizable.
 .
 Kate's features include:
 .
  * Multiple saved sessions, each with numerous files
  * Scriptable syntax highlighting, indentation, and code-folding
  * Configurable templates and text snippets
  * Symbol viewers for C, C++, and Python
  * XML completion and validation
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kbugbuster
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: Bugzilla client for KDE 4
 KBugBuster is a client for the Bugzilla bug tracking system.
 It provides a variety of tools for querying, viewing, and manipulating bug
 reports.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kcachegrind
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Recommends: valgrind, graphviz
Suggests: kcachegrind-converters, khelpcenter
Description: visualisation tool for the Valgrind profiler
 KCachegrind is a visualisation tool for the profiling data generated
 by calltree, a memory profiling tool for valgrind.  Any executable can be
 profiled using calltree without being recompiled, including multi-threaded
 applications, shared libraries, and plugins.
 .
 For visualising the output from profiling tools other than Valgrind, several
 converters can be found in the kcachegrind-converters package.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kcachegrind-converters
Architecture: all
Section: devel
Depends: ${perl:Depends}, php5-cli, python
Recommends: kcachegrind
Description: format converters for KCachegrind profiler visualisation tool
 This is a collection of scripts for converting the output from several
 different profiling tools into a format that KCachegrind can display.
 .
 KCachegrind is a visualisation tool for the profiling data generated
 by calltree, a memory profiling tool for valgrind.  Executables can be
 profiled using calltree without being recompiled, including multi-threaded
 applications, shared libraries, and plugin architectures.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kdesdk-dev
Architecture: any
Section: libdevel
Depends: kate (= ${binary:Version}), poxml (= ${binary:Version}), libsvn-dev
Description: development files for the KDE 4 Software Development Kit module
 This package contains development files for building software that uses
 libraries from the KDE 4 Software Development Kit module.

Package: kdesdk-kio-plugins
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, subversion
Description: transparent Subversion access for KDE 4 applications
 This package includes the svn and svn+ssh KIO plugins, which allows KDE 4
 applications to browse remote Subversion repositories.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kdesdk-misc
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: libqt4-dev, gimp, inkscape, xpaint
Description: miscellaneous tools from the KDE 4 Software Development Kit
 This package contains additional tools to aid in development for KDE 4.
 .
 Included are:
  - headers to assist with profiling KDE code
  - a widget style for checking conformity with the KDE/Qt style guide
  - palette files for using the KDE standard colours in non-KDE applications
  - a KDE address book resource for KDE Subversion repository accounts
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kdesdk-scripts
Architecture: all
Section: devel
Depends: ${perl:Depends}, python
Recommends: cvs, gawk
Suggests: khelpcenter, dmalloc, gdb, kdelibs5-doc, qt3-doc, valgrind, devscripts, xsltproc
Enhances: kate
Description: scripts and data files for KDE 4 development
 This package contains scripts and data files to facilitate development of
 KDE software.  Also included are scripts which are not specific to
 KDE, such as helper scripts for working with Subversion and CVS repositories.
 .
 In addition to these scripts, this package provides:
  - gdb macros for Qt/KDE programming
  - Vim and EMACS helper files for Qt/KDE programming
  - bash and zsh completion rules for KDE applications
  - Valgrind error suppressions for KDE applications
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kdesdk-strigi-plugins
Architecture: any
Depends: ${shlibs:Depends}
Description: software development file format plugins for Strigi Desktop Search
 These plugins allow Strigi Desktop Search to extract additional information
 about some file formats often used in software development.
 .
 Strigi plugins are included for:
  * Patch files (diff)
  * Qt Linguist files (ts)
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kmtrace
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, less
Description: memory leak tracer for KDE 4
 KMtrace is a KDE tool to assist with malloc debugging using glibc's
 "mtrace" functionality.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kompare
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Replaces: libcvsservice0 (<<4:4.0.0)
Description: file difference viewer for KDE 4
 Kompare is displays the differences between files.  It can compare the
 contents of files or directories, as well as create, display, and merge patch
 files.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kuiviewer
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: qt4-designer
Description: viewer for Qt Designer user interface files
 KUIViewer is a utility to display and check user interface (.ui) files
 created in Qt Designer.  The interfaces can be shown in a variety of
 different widget styles to ensure that they display correctly in any
 environment.
 .
 The Qt Designer itself is in the package qt4-designer.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: cvsservice
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, cvs
Description: library and D-Bus service for accessing CVS repositories
 This library provides a D-Bus service for browsing and manipulating
 remote CVS repositories.  Applications may either link with this library to
 make use of it directly from C++, or access the service over D-Bus.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: poxml
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: tools for translating DocBook XML files with gettext
 This is a collection of tools that facilitate translating DocBook XML
 files using gettext message files (PO-files).
 .
 Also included are several command-line utilities for manipulating DocBook XML
 files, PO-files and PO-template files.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: umbrello
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: UML modelling tool and code generator
 Umbrello UML Modeller is a Unified Modelling Language diagram editor for KDE.
 It can create diagrams of software and other systems in the industry-standard
 UML format, and can also generate code from UML diagrams in a variety of
 programming languages.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: lokalize
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: computer-aided translation system for KDE 4
 lokalize is a computer-aided translation system that focuses on productivity
 and performance. It implies paragraph-by-paragraph translation approach
 (when translating documentation) and message-by-message approach
 (when translating GUI).
 lokalize is a replacement for KDE 4 of KBabel.
 .
 This package is part of the KDE 4 Software Development Kit module.

Package: kdesdk-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdebase-runtime-dbg
Conflicts: kdebase-dbg (<<4:4.0.0)
Replaces: kdebase-dbg (<<4:4.0.0)
Suggests: kdesdk (= ${source:Version})
Description: debugging symbols for the KDE 4 Software Development Kit module
 This package contains debugging files used to investigate problems with
 binaries included in the KDE 4 Software Development Kit module.

