Source: kdesdk
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cdbs, debhelper (>= 5), cmake, quilt, kdepimlibs5-dev (>=4:4.0.0-1),
 libphonon-dev (>=4:4.0.0-1), libsvn-dev
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Fathi Boudra <fabo@debian.org>, Sune Vuorela <debian@pusling.com>, Armin Berres <trigger+debian@space-based.de>
Standards-Version: 3.7.3
Homepage: http://www.kde.org

Package: kdesdk
Architecture: all
Section: kde
Depends: cervisia (>= ${binary:Version}), kapptemplate (>= ${binary:Version}), kate (>= ${binary:Version}), kbugbuster (>= ${binary:Version}), kcachegrind (>= ${binary:Version}), kdesdk-kio-plugins (>= ${binary:Version}), kdesdk-misc (>= ${binary:Version}), kdesdk-scripts (>= ${binary:Version}), kdesdk-strigi-plugins (>= ${binary:Version}), kompare (>= ${binary:Version}), kuiviewer (>= ${binary:Version}), poxml (>= ${binary:Version}), umbrello (>= ${binary:Version})
Suggests: kcachegrind-converters
Description: Software Development Kit from the official KDE 4 release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage installs the complete KDE 4 Software Development Kit, a
 collection of applications and tools useful for developing KDE 4 applications.


Package: cervisia
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: Graphical CVS front end for KDE 4
 Cervisia is a KDE-based graphical front end for the CVS client.
 .
 In addition to basic and advanced CVS operations, it provides a convenient
 graphical interface for viewing, editing, and manipulating files in a CVS
 repository or working directory.  It includes tools designed to ease the use
 of CVS, such as a log browser, conflict resolver, and changelog editor that
 checks for incorrect formatting.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kapptemplate
Architecture: all
Section: devel
Suggests: kdelibs5-dev (>= 4:4.0.0-1)
Description: KDE 4 application template generator
 KAppTemplate is a shell script that will create the necessary framework to
 develop several types of KDE application.  It generates the build-system
 configuration and provides example code for a simple application.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kate
Section: editors
Architecture: any
Depends: ${shlibs:Depends}
Suggests: aspell | ispell | hspell, khelpcenter, konsole
Description: KDE 4 Advanced Text Editor 
 Kate is a powerful text editor that can open multiple files simultaneously.
 .
 With a built-in terminal, syntax highlighting, and tabbed sidebar, it performs
 as a lightweight but capable development environment.  Kate's many tools,
 plugins, and scripts make it highly customisable.
 .
 Kate's features include:
 .
  * Multiple saved sessions, each with numerous files
  * Scriptable syntax highlighting, indentation, and code-folding
  * Configurable templates and text snippets
  * Symbol viewers for C, C++, and Python
  * XML completion and validation
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kbugbuster
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: Front end for the KDE bug tracking system
 KBugBuster is a graphical front end for the KDE bug tracking system.
 It allows the user to view and manipulate bug reports and provides a
 variety of options for searching through reports.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kcachegrind
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Recommends: valgrind, graphviz
Suggests: kcachegrind-converters, khelpcenter
Description: Visualisation tool for the Valgrind profiler
 KCachegrind is a visualisation tool for the profiling data generated
 by calltree, a memory profiling tool for valgrind.  Executables can be
 profiled using calltree without being recompiled, including multi-threaded
 applications, shared libraries, and plugin architectures.
 .
 For visualising the output from profiling tools other than Valgrind, several
 converters can be found in the kcachegrind-converters package.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kcachegrind-converters
Architecture: all
Section: devel
Depends: ${perl:Depends}, php5-cli, python
Recommends: kcachegrind
Description: Format converters for KCachegrind profiler visualisation tool
 This is a collection of scripts for converting the output from several
 different profiling tools into a format that KCachegrind can display.
 .
 KCachegrind is a visualisation tool for the profiling data generated
 by calltree, a memory profiling tool for valgrind.  Executables can be
 profiled using calltree without being recompiled, including multi-threaded
 applications, shared libraries, and plugin architectures.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kdesdk-dev
Architecture: any
Section: libdevel
Depends: libsvn-dev
Description: development files for the KDE 4 sdk module
 This package contains development files needed to build software based on
 the kdesdk module.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kdesdk-kio-plugins
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, subversion
Description: Subversion ioslave for KDE
 This package allows any KDE application to browse remote SVN repositories,
 using protocols such as svn:// or svn+ssh://
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kdesdk-misc
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: libqt4-dev, gimp, inkscape, xpaint
Description: Assorted goodies from the KDE Software Development Kit
 This package contains additional tools to aid in development for KDE 4.
 .
 Included are:
  - headers to assist with profiling KDE code
  - a widget style for checking conformity with the KDE/Qt style guide
  - palette files for using the KDE standard colours in non-KDE applications
  - a KDE address book resource for KDE Subversion repository accounts
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kdesdk-scripts
Architecture: all
Section: devel
Depends: ${perl:Depends}, python
Recommends: cvs, gawk
Suggests: khelpcenter, dmalloc, gdb, kdelibs5-doc, qt3-doc, valgrind, devscripts, xsltproc
Enhances: kate
Description: Useful scripts for KDE development
 This package contains scripts and data files which assist with developing
 KDE-based applications.  Also included are scripts which are not specific to
 KDE, such as general-purpose scripts to facilitate working with Subversion
 and CVS repositories.
 .
 In addition to these scripts, this package provides:
  - gdb macros for Qt/KDE programming
  - Vim and EMACS helper files for Qt/KDE programming
  - bash and zsh completion rules for KDE applications
  - Valgrind error suppressions for KDE applications
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kdesdk-strigi-plugins
Architecture: any
Depends: ${shlibs:Depends}
Description: strigi metainfo plugins for kdesdk
 This package includes the strigi metainfo plugins for kdesdk
 applications.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.

Package: kompare
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: a KDE GUI for viewing differences between files
 Kompare is a graphical user interface for viewing the differences between
 files.  It can compare two documents, create a diff file, display a diff
 file and/or blend a diff file back into the original documents.
 .
 This package is part of KDE 4, and a component of the KDE SDK module.
 See the 'kde' and 'kdesdk' packages for more information.

Package: kuiviewer
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: qt4-designer
Description: Viewer for Qt4 Designer user interface files
 KUIViewer is a utility to display and check user interface (.ui) files
 created in Qt Designer.  The interfaces can be shown in a variety of
 different widget styles to ensure that they display correctly in any
 environment.
 .
 The Qt Designer itself is in the package qt4-designer.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: cvsservice
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, cvs
Description: Library and D-Bus service for accessing CVS repositories
 This library provides a D-Bus service for browsing and manipulating
 remote CVS repositories.  Applications may either link with this library to
 make use of it directly from C++, or access the service over D-Bus.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: poxml
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: Tools for translating DocBook XML files with gettext
 This is a collection of tools that facilitate translating DocBook XML
 files using gettext message files (PO-files).
 .
 Also included are several command-line utilities for manipulating DocBook XML
 files, PO-files and PO-template files.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: umbrello
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: UML modelling tool and code generator
 Umbrello UML Modeller is a Unified Modelling Language editor for KDE.
 It can create diagrams of software and other systems in the industry-standard
 UML format, and can also generate code from UML diagrams in a variety of
 programming languages.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.


Package: kdesdk-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdelibs-dbg
Description: debugging symbols for kdesdk
 This package contains the debugging symbols associated with kdesdk.
 They will automatically be used by gdb for debugging kdesdk-related issues.
 .
 This package is part of KDE 4, and a component of the kdesdk module.
 See the 'kde' and 'kdesdk' packages for more information.
